.container {
  background: black;
  height: 3rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  transition: 0.25s;
}
.link:hover {
  color: black;
  background: white;
  transition: 0.25s;
}
.NewButton {
  padding: 1rem;
  background: none;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: 0.25s;
  cursor: pointer;
}
.NewButton:hover {
  color: black;
  background: white;
  transition: 0.25s;
}
i {
  margin-right: 1rem;
  font-size: 1.5rem;
  align-self: center;
}
