.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  margin-top: 10rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0.5rem;
  /* padding: 5rem; */
}
.SearchTitle {
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 5rem;
  background: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
/* .Label {
  margin: 5rem 0 1rem 5rem;
  font-size: 4rem;
  background: white;
  color: black;
} */
.Input {
  margin: 5rem;
  padding: 10px;
  border: none;
  border: 3px solid black;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #a9a9a9;
  max-width: 750px;
}
.CustomerContainer {
  margin: 5rem;
}