

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 1rem;
}

.Label {
  margin: 5rem 0 1rem 5rem;
  font-size: 2rem;
  color: white;
}

.Input {
  margin: 0 5rem 5rem 5rem;
  padding: 10px;
  border: none;
  border: 1px solid #2196f3;
  border-radius: 1rem;
  font-size: 2rem;
  color: #a9a9a9;
}

.CustomerContainer {
  margin: 5rem;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 1rem;
}