.DisplayContainer {
  width: 80%;
  min-width: 550px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DisplayContainer .List {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  max-width: 750px;
}
.DisplayContainer .ListItem {
  width: 45%;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

.EditIcon {
  z-index: 10;
  color: #757575;
}

.DeleteIcon {
  color: #757575;
}
