@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol, ul {
  list-style: none; }

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

input:focus,
select:focus,
button:focus {
  outline: none; }

  .BgImage {
    background-image: url("../assets/backgrounds/bar-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 101vh;
    width: 100%; }
  
  .Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%; }
