:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723; }

.ListContainer {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  border: 2px solid var(--input-border);
  border-radius: 0.5rem; }
  .ListContainer::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem; }
  .ListContainer::-webkit-scrollbar-thumb {
    background: var(--secondary); }
  .ListContainer::-webkit-scrollbar-track {
    background: var(--secondary-light); }
  .ListContainer {
    scrollbar-face-color: var(--secondary);
    scrollbar-track-color: var(--secondary-light); }
  @media (max-width: 600px) {
    .ListContainer {
      height: 200px; } }

.Item {
  width: 95%;
  height: 6rem;
  margin: 0.25rem 0 0.25rem 0;
  background: #f0d3d7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s; }
  @media (max-width: 600px) {
    .Item {
      height: 5rem; } }

.Item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s; }

.NameContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #505050; }
  .NameContainer h1 {
    font-size: 1rem;
    font-weight: 300; }
  .NameContainer h2 {
    font-size: 1.6rem; }
  @media (max-width: 600px) {
    .NameContainer {
      width: 175px; } }

.Avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  margin-left: 1rem; }
  @media (max-width: 600px) {
    .Avatar {
      height: 3rem;
      width: 3rem; } }

.Completed {
  background: var(--secondary-light); }

.FinishedCheckbox {
  display: none; }

.CheckIcon {
  font-size: 2.5rem;
  height: 100%;
  width: 100%;
  color: white; }
  @media (max-width: 600px) {
    .CheckIcon {
      font-size: 2rem; } }
