:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723; }

.CustomerCard {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background: var(--primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.125s; }
  .CustomerCard h2 {
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500; }
    @media (max-width: 600px) {
      .CustomerCard h2 {
        font-size: 1.4rem; } }

.CustomerCard:hover {
  transform: translateY(-0.25rem);
  transition: 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.TitleContainer {
  background: black;
  color: var(--primary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem; }

.Completed {
  background: var(--secondary);
  color: var(--primary); }

.CustomerTitle {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 3.5rem;
  border-radius: 1rem;
  color: var(--primary);
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .CustomerTitle {
      font-size: 2rem; } }

.ButtonContainer {
  margin-left: 2rem; }
  @media (max-width: 600px) {
    .ButtonContainer {
      display: flex;
      justify-content: center;
      margin: 0; } }

.Span {
  display: flex;
  align-items: center; }

.CheckIcon {
  font-size: 4rem;
  margin-right: 4rem; }
  @media (max-width: 600px) {
    .CheckIcon {
      font-size: 2rem;
      margin-right: 2rem; } }
