.EditButton,
.DeleteButton {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  background: white;
  color: black;
  border: none;
  border-radius: 10rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.15s; }

.EditButton:hover {
  background: var(--secondary);
  color: white;
  transition: 0.15s; }

.DeleteButton:hover {
  background: var(--delete);
  color: white;
  transition: 0.15s; }
