:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723; }

.Container {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.Title {
  background: black;
  color: white;
  text-align: left;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  border-top: 2px solid black; }
  .Title h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif; }
  .Title h2 {
    font-size: 1.6rem;
    position: relative;
    top: 0.5rem; }

.AuthContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  transition: 0.2s; }
  .AuthContainer h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300; }

.Group {
  position: relative;
  margin-bottom: 2rem;
  width: 100%; }

.Input {
  font-size: 1.6rem;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  display: block;
  width: 100%;
  border: none;
  background: var(--primary);
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  border: 1px solid var(--input-border); }
  .Input:focus {
    outline: none;
    border: 1px solid var(--secondary);
    transition: 0.2s; }
  .Input:valid {
    border: 1px solid var(--secondary); }

/* Label */
.Label {
  color: var(--input-color);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: 0.2s;
  z-index: 100; }

.Input:focus ~ .Label,
.Input:valid ~ .Label {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: var(--primary); }

.ButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }

.Button {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: 0.2s; }
  .Button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #303030;
    transition: 0.2s;
    cursor: pointer; }

.Back {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
  background: none;
  color: black;
  border: none;
  font-size: 5rem;
  transition: 0.2s; }
  .Back svg:hover {
    color: #303030;
    transition: 0.2s;
    cursor: pointer; }

.Reset {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: -1.5rem; }
  .Reset h2 {
    font-size: 1rem;
    font-weight: 300; }
  .Reset :hover {
    color: var(--secondary);
    cursor: pointer; }
