.Container {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.Container h1 {
  text-align: left;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: 300;
  background: black;
  color: white;
  border-top: 2px solid black; }

.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  transition: 1s; }

.Group {
  position: relative;
  margin-bottom: 2rem;
  width: 100%; }

.Input {
  font-size: 1.6rem;
  padding: 2rem 1rem 1rem 1.5rem;
  display: block;
  width: 100%;
  border: none;
  background: var(--primary);
  border-bottom: 1px solid var(--input-color);
  border-radius: 0.5rem;
  border: 2px solid var(--input-border); }
  .Input:focus {
    outline: none;
    border: 2px solid var(--secondary); }

/* Label */
.Label {
  color: var(--input-color);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: 0.2s ease all;
  z-index: 100; }

.Input:focus ~ .Label,
.Input:valid ~ .Label {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: var(--primary); }

.ButtonContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column; }

.Button {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  width: 50%;
  text-align: left;
  background: none;
  color: black;
  border: none;
  font-size: 3rem;
  transition: 0.2s; }

.Back {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
  background: none;
  color: black;
  border: none;
  font-size: 4rem;
  transition: 0.2s; }

.Back:hover {
  background: white;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s; }

.Button:hover {
  background: white;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s; }

/* Errors */
.Error {
  height: 5rem;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  vertical-align: middle; }

/* Animations */
.bounce {
  -webkit-animation: bounce-top 0.5s both;
  animation: bounce-top 0.5s both; }

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }
