.ModalContainer {
  position: fixed;
  z-index: 500;
  width: auto;
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.Modal {
  background: white;
  height: 75%;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.ModalTitle {
  text-align: left;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 0;
  background: var(--secondary);
  color: var(--primary);
  width: 100%; }

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.ModalImage {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 15rem;
  margin-bottom: 1rem; }

.ModalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased; }

/* Inputs */
.Group {
  position: relative;
  margin-bottom: 2rem; }

.Input {
  font-size: 1.6rem;
  padding: 2rem 1rem 1rem 1rem;
  display: block;
  width: 100%;
  border: none;
  background: #f0f0f0;
  border-bottom: 1px solid var(--input-color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.Input:focus {
  outline: none; }

/* Label */
.Label {
  color: var(--input-color);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: 0.2s ease all;
  z-index: 100; }

.BeerLabel {
  position: relative;
  font-size: 1rem;
  padding-left: 1rem;
  color: var(--secondary); }

.Select {
  overflow-y: scroll;
  display: block;
  color: black;
  background: #f0f0f0;
  font-size: 1.6rem;
  height: 5rem;
  position: relative;
  width: 100%;
  border: none;
  border-radius: none;
  border-bottom: 1px solid var(--input-color); }

.Input:focus ~ .Label,
.Input:valid ~ .Label,
.Select:focus ~ .Label,
.Select:valid ~ .Label {
  top: -1rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--secondary); }

/* Bar Changes */
.Bar {
  position: relative;
  display: block;
  width: auto; }

.Bar:before,
.Bar:after {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--secondary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.Bar:before {
  left: 50%; }

.Bar:after {
  right: 50%; }

/* active state */
.Input:focus ~ .Bar:before,
.Input:focus ~ .Bar:after {
  width: 50%; }

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.EditButton,
.CancelButton {
  width: 49%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.25s; }

.EditButton {
  background: var(--secondary);
  color: white; }

.CancelButton {
  background: #f0f0f0; }

.EditButton:hover {
  box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.31);
  transform: translateY(-0.25rem);
  transition: 0.1s; }

.CancelButton:hover {
  box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.31);
  transform: translateY(-0.25rem);
  transition: 0.1s; }
