:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723; }

.ModalContainer {
  position: fixed;
  z-index: 500;
  width: auto;
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.Modal {
  background: var(--primary);
  height: 75%;
  max-height: 90%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden; }

.ModalTitle {
  text-align: left;
  font-size: 3rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 0;
  background: var(--secondary);
  color: var(--primary);
  width: 100%; }
  @media (max-width: 600px) {
    .ModalTitle {
      font-size: 2rem;
      padding-top: 2rem; } }

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.ModalImage {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 15rem;
  margin-bottom: 1rem; }

.ModalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased; }

/* Inputs */
.Group {
  position: relative;
  margin-bottom: 2rem; }

.Input {
  font-size: 2rem;
  padding: 1.5rem 1rem 1rem 1.5rem;
  display: block;
  width: 100%;
  border: none;
  background: var(--primary);
  border: 1px solid var(--input-border);
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem; }
  .Input:valid {
    border: 1px solid var(--secondary); }
  @media (max-width: 600px) {
    .Input {
      padding: 1rem;
      font-size: 1rem; } }

/* Label */
.Label {
  color: var(--input-text);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: 0.2s; }
  @media (max-width: 600px) {
    .Label {
      font-size: 1rem;
      top: 1.5rem; } }

.BeerLabel {
  position: relative;
  top: 0.7rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  color: var(--secondary);
  background: var(--primary); }

.Select {
  overflow-y: scroll;
  display: block;
  color: black;
  background: var(--primary);
  font-size: 2rem;
  height: 5.5rem;
  position: relative;
  width: 100%;
  border: none;
  border: 1px solid var(--input-border);
  padding-left: 1.25rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem; }
  @media (max-width: 600px) {
    .Select {
      height: 3.5rem;
      font-size: 1rem; } }

option {
  margin-left: 2rem; }

.Input:focus,
.Select:focus {
  outline: none;
  border: 1px solid var(--secondary);
  transition: calc(3 * 0.2s); }

.Input:focus ~ .Label,
.Input:valid ~ .Label,
.Select:focus ~ .Label,
.Select:valid ~ .Label {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: var(--primary); }
  @media (max-width: 600px) {
    .Input:focus ~ .Label,
    .Input:valid ~ .Label,
    .Select:focus ~ .Label,
    .Select:valid ~ .Label {
      font-size: 1rem;
      padding-left: 0.25rem; } }

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.EditButton,
.CancelButton {
  width: 49%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s;
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem; }
  @media (max-width: 600px) {
    .EditButton,
    .CancelButton {
      font-size: 1rem; } }

.EditButton {
  background: var(--secondary);
  color: white; }

.CancelButton {
  background: #f0f0f0; }

.EditButton:hover,
.CancelButton:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s; }
  @media (max-width: 600px) {
    .EditButton:hover,
    .CancelButton:hover {
      box-shadow: none; } }
