.navbar {
  position: fixed;
  background: black;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 10; }

.navbar * {
  font-family: "Montserrat", sans-serif; }

.navbar h1 {
  color: white;
  width: 200px;
  font-size: 2rem;
  margin: 1rem 1rem 0 2rem; }

.list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem 0 2rem; }

.link {
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  font-size: 2rem;
  transition: 0.25s; }

.link:hover {
  color: #00a5ff;
  transition: 0.25s; }

.NewButton {
  padding: 1rem;
  margin-right: 2rem;
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  transition: 0.25s;
  cursor: pointer; }

.NewButton:hover {
  color: #00a5ff;
  transition: 0.25s; }

.NewButton:focus {
  outline: none; }

.Logout {
  padding: 1rem;
  background: white;
  color: black;
  border: white;
  border-radius: 10rem;
  font-size: 1.5rem;
  transition: 0.25s;
  cursor: pointer; }

.Logout:hover {
  background: #b72e3e;
  color: white; }

.hamburgerContainer {
  display: none; }

/* Collapsible menu */
@media (max-width: 850px) {
  .link,
  .list,
  .NewButton,
  .Logout {
    display: none;
    width: 0; }
  .hamburgerContainer {
    display: flex;
    padding: 0.5rem; }
  .hamburgerList {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 5rem;
    left: rem;
    background: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hamburgerItem {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    width: 100%;
    text-align: center;
    padding: 1rem; }
  .hamburgerItem:hover {
    background: #696969;
    cursor: pointer; } }
