:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723; }

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem 2rem 5rem 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: none; }

.SearchTitle {
  padding-left: 3rem;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
  font-size: 5rem;
  background: black;
  color: var(--primary);
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .SearchTitle {
      font-size: 3rem; } }

.Group {
  margin: 4rem;
  margin-left: 3rem;
  position: relative; }

.Input {
  font-size: 1.6rem;
  padding: 2rem 1rem 1rem 1rem;
  display: block;
  width: 100%;
  max-width: 500px;
  border: none;
  background: white;
  border-bottom: 1px solid var(--input-color);
  border: 2px solid var(--input-border);
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  outline-style: none; }
  .Input:focus {
    outline: none; }
  @media (max-width: 600px) {
    .Input {
      padding-top: 1rem;
      font-size: 2rem; } }

.Label {
  color: var(--input-color);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: 0.2s;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  @media (max-width: 600px) {
    .Label {
      font-size: 1.2rem; } }

.Input:focus {
  border: 2px solid var(--secondary);
  transition: 0.2s; }

.Input:focus ~ .Label,
.Input:valid ~ .Label {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: white; }
  @media (max-width: 600px) {
    .Input:focus ~ .Label,
    .Input:valid ~ .Label {
      font-size: 0.8rem; } }

.AddIcon {
  font-size: 1.25rem;
  margin-right: 4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  background: var(--secondary);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  @media (max-width: 600px) {
    .AddIcon {
      position: fixed;
      left: 79%;
      bottom: 10%;
      height: 6rem;
      width: 6rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      z-index: 80; } }

.AddIcon:hover {
  background: var(--secondary-light); }

.CustomerContainer {
  margin-top: 0;
  margin-right: 4rem;
  margin-bottom: 4rem;
  margin-left: 3rem; }
  .CustomerContainer h3 {
    font-size: 2rem;
    color: var(--secondary); }
    @media (max-width: 600px) {
      .CustomerContainer h3 {
        font-size: 1.2rem; } }
  .CustomerContainer h4 {
    text-align: center; }
