.DisplayContainer {
  min-width: 550px;
  height: auto;
  margin: 5rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.DisplayContainer h1 {
  width: 100%;
  font-size: 5rem;
  padding: 2rem;
  padding-bottom: 1rem;
  background: black;
  color: white;
}
.DisplayContainer h2 {
  font-size: 2rem;
  font-weight: lighter;
} 
.DisplayContainer h3 {
  font-size: 1.5rem;
}
.DisplayContainer .List {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 750px;
}
.DisplayContainer .ListItem {
  width: 45%;
  margin: 1%;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  height: 7rem !important;
  font-size: 2rem !important;
  transition: 0.25s;
}
.ListItem:hover {
  background: whitesmoke !important;
  transform: scale(1.05);
  transition: 0.25s;
}
.EditIcon {
  z-index: 10;
  color: #757575;
}
.DeleteIcon {
  color: #757575;
}

