.CustomerBox {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 3px solid black;
}
.CustomerBox h1 {
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.CustomerBox h2 {
  padding: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.CustomerBox h2:nth-child(2) {
  color: #0288d1;
}
.CustomerBox button {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: white;
  color: black;
  border: none;
  border: 3px solid black;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.25s;
}
.CustomerBox button:hover {
  cursor: pointer;
  transition: 0.2s;
}
.CustomerBox button span,
.BeersButton {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.Span {
  display: flex;
}
.ButtonContainer {
  margin-left: 4rem;
  padding-bottom: 1rem;
}
.EditButton:hover {
  background: #00A287;
  color: white;
  transition: 0.25s;
}
.DeleteButton:hover {
  background: #B72E3E;
  color: white;
  transition: 0.25s;
}
.BeersButton {
  margin-bottom: 1rem;
}
.BeersButton:hover {
  background: black;
  color: white;
}
