.CustomerCard {
  min-width: 350px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.125s;
}
.CustomerCard:hover {
  transform: scale(1.01);
  transition: 0.125s;
}
.IncompleteTitleContainer {
  background: black;
  color: whitesmoke;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;
}
.CompletedTitleContainer {
  background: #00A287;
  color: whitesmoke;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;
}
.CustomerTitle {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 4.5rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
.CustomerDetails {
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: lighter;
}
.ButtonContainer {
  margin-left: 2rem;
}
.EditButton,
.DeleteButton {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  background: white;
  color: black;
  border: none;
  border-radius: 10rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
.Span {
  display: flex;
}
.EditButton:hover {
  background: #00A287;
  color: white;
  transition: 0.2s;
}
.DeleteButton:hover {
  background: #B72E3E;
  color: white;
  transition: 0.2s;
}
.CheckIcon {
  font-size: 4rem;
  margin-right: 4rem;
}
