.Container {
  width: 75%;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(255,255,255, 1);
  background: white;
  border-radius: 0.5rem;
}
.Container h1 {
  font-family: 'Bowlby One SC', cursive;
  color: #2196f3;
  text-align: center;
  padding-top: 4rem;
  font-size: 4rem;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25%;
}
.Group {
  position: relative;
  margin-bottom: 1.25rem;
}
.Input {
  font-size: 1.5rem;
  padding-top: 2rem;
  display: block;
  width: 99%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.Input:focus {
  outline: none;
}

/* Label */
.Label {
  color: #999; 
  font-size: 1.5rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 1.5rem;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.Input:focus ~ .Label, .Input:valid ~ .Label {
  top: -0.5rem;
  font-size: 1rem;
  color: #2196f3;
}
.Submit {
  margin-top: 2.5rem !important;
  width: 100% !important;
}

/* Bar Changes */
.Bar 	{ 
  position:relative; 
  display:block; 
  width:300px; 
}
.Bar:before, .Bar:after 	{
  content: '';
  height: 2px; 
  width: 0;
  bottom: 0px; 
  position: absolute;
  background: #2196f3; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.Bar:before {
  left: 50%;
}
.Bar:after {
  right: 50%; 
}

/* active state */
.Input:focus ~ .Bar:before, .Input:focus ~ .Bar:after {
  width: 150px;
}