.ModalContainer {
  position: fixed;
  z-index: 500;
  width: auto;
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Modal {
  padding: 2rem;
  background: white;
  height: 75%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
}
.ModalTitle {
  text-align: left;
  font-size: 2rem;
  padding: 2rem;
}
.ModalImage {
  width: 150px;
  height: 150px;
  border-radius: 5rem;
}
.ModalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* Inputs */
.Group {
  position: relative;
  margin-bottom: 2rem;
}
.Input {
  font-size: 2rem;
  padding-top: 1.5rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.Input:focus {
  outline: none;
}

/* Label */
.Label {
  color: #aaa;
  font-size: 2rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.SelectLabel {
  color: #00a5ff;
  font-size: 1.2rem;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.ListLabel {
  color: #00a5ff;
}
.Select {
  color: #616161;
  font-size: 2rem;
  height: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.Input:focus ~ .Label,
.Input:valid ~ .Label {
  top: -0.25rem;
  font-size: 1.2rem;
  color: #00a5ff;
}
.Select:focus ~ .SelectLabel,
.Select:valid ~ .SelectLabel {
  color: #00a5ff;
}

/* Bar Changes */
.Bar {
  position: relative;
  display: block;
  width: auto;
}
.Bar:before,
.Bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #00a5ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.Bar:before {
  left: 50%;
}
.Bar:after {
  right: 50%;
}

/* active state */
.Input:focus ~ .Bar:before,
.Input:focus ~ .Bar:after {
  width: 50%;
}
.EditButton,
.CancelButton,
.DeleteButton {
  padding: 1rem;
  margin: 0.5rem;
  background: white;
  color: black;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.25s;
}

.EditButton:hover {
  background: #00a287;
  color: white;
  transition: 0.25s;
}
.CancelButton:hover {
  background: #b72e3e;
  color: white;
  transition: 0.25s;
}
.DeleteButton:hover {
  background: #b72e3e;
  color: white;
  transition: 0.25s;
}
