.NavItem {
  text-decoration: none;
  font-size: 1.5rem;
  width: auto;
  text-align: left;
  width: 100%;
}

.NavItem a {
  color: var(--secondary);
  text-decoration: none;
  font-size: inherit;
}

@media (min-width: 768px) {
  .NavItem {
    font-size: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: white;
  }

  .NavItem a {
    color: white;
    font-size: inherit;
    height: 100%;
    border-bottom: 4px solid transparent;
  }

  .NavItem a:hover,
  .NavItem a:active,
  .NavItem a.active {
    color: var(--secondary);
    background-color: whitesmoke;
    border-bottom: 4px solid var(--secondary);
    border-radius: none;
  }
}
