.Item {
  width: 95%;
  height: 6rem;
  margin: 0.25rem 0 0.25rem 0;
  background: #f0d3d7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}