.ModalContainer {
  position: fixed;
  transform: perspective(1px) translate3d(-50%,-50%,0);
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  overflow-y: hidden;
  z-index: 100;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all 0.3s;
}

.Modal {
  padding: 2%;
  background: white;
  height: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
}

.ModalTitle {
  text-align: center;
}

.ModalImage {
  width: 150px;
  height: 150px;
  border-radius: 5rem;
}

.ModalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.ModalForm input,
.ModalForm select {
  font-size: 1.8rem;
  color: #616161;
  height: 2.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 99%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.ModalForm input[type=submit] {
  margin-top: 30px;
  height: 30px;
  border: none;
  color: white;
  background-color: #0288d1;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.ModalForm input[type=submit]:hover {
  background-color: lightblue;
  transition: 0.5s;
}

select {
  outline: 0;
  background: transparent;
  border-radius: none;
  margin-top: 0.5rem;
}


.Group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Label {
  font-size: 1rem;
  margin-top: 1rem;
  color: #5264AE;
}


/* Bar Changes */
.Bar 	{ 
  position:relative; 
  display:block; 
  width:300px; 
}
.Bar:before, .Bar:after 	{
  content: '';
  height: 2px; 
  width: 0;
  bottom: 0px; 
  position: absolute;
  background: #5264AE; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.Bar:before {
  left: 50%;
}
.Bar:after {
  right: 50%; 
}

/* active state */
.Input:focus ~ .Bar:before, .Input:focus ~ .Bar:after {
  width: 150px;
}