.DisplayContainer {
  min-width: 550px;
  height: auto;
  margin: 5rem;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  background: #2196f3;
}

.DisplayContainer h1 {
  font-size: 2rem;
  color: white;
}

.DisplayContainer .List {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 750px;
  font-size: 2rem;
}

.DisplayContainer .ListItem {
  width: 45%;
  margin: 1%;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  height: 8rem !important;
  font-size: 2rem !important;
}

.ListItem:hover {
  background: #eef7fe !important;
}

.EditIcon {
  z-index: 10;
  color: #757575;
}

.DeleteIcon {
  color: #757575;
}
