:root {
  --primary: white;
  --secondary: #00a5ff;
  --secondary-light: #b3e4ff;
  --tertiary: #686868;
  --input-text: #a9a9a9;
  --input-border: #eaeaea;
  --beer-names: #505050;
  --delete: #b12723;
}

$border-radius: 0.5rem;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$transition-time: 0.2s;
