@import "./_mixins.scss";
@import "./_library.scss";

.AccountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem 2rem 5rem 2rem;
  box-shadow: $box-shadow;
  outline: none;
  h1 {
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    font-size: 5rem;
    background: black;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    @include respond-to('small') {
      font-size: 3rem;
    }
  }
}

.InfoContainer {
  margin: 2rem 3rem 2rem 3rem;
  h2 {
    padding: 2rem 0 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 150px;
    border: 1px solid violet;
    background: black;
    color: var(--primary);
    font-size: 1.5rem;
  }
}