@import "./_mixins.scss";
@import "./_library.scss";

.DisplayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  margin-top: 10rem;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  @include respond-to('small') {
    padding-bottom: 2rem;
  }
  & h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.25rem;
  }
  & h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--beer-names);
  } 
  & h4 {
    margin: 2rem;
    margin-bottom: 0;
    color: var(--secondary);
  }
}
.BeersTitle {
  padding-left: 3rem;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
  font-size: 5rem;
  background: black;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  @include respond-to('small') {
    font-size: 3rem;
    padding-left: 2rem;
  }
}
.ListContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}
.DisplayContainer .ListItem {
  width: 45%;
  margin: 1%;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  height: 7.5rem !important;
  font-size: 2rem !important;
  transition: 0.25s;
  @include respond-to('small') {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}
.ListItem:hover {
  background: whitesmoke !important;
  transform: scale(1.05);
  transition: 0.25s;
}
.AddIcon {
  font-size: 1.25rem;
  margin-right: 4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  background: #00a5ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  @include respond-to('small') {
    position: fixed;
    left: 80%;
    bottom: 10%;
    height: 6rem;
    width: 6rem;
    box-shadow: $box-shadow;
    z-index: 500;
  }
}
.AddIcon:hover {
  background: var(--secondary-light);
  transition: 0.2s;
}

