@import "./_mixins.scss";
@import "./_library.scss";

.ListContainer {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  margin-bottom: 1rem;
  @include scrollbars(0.5rem, var(--secondary), var(--secondary-light));
  @include respond-to('small') {
    height: 200px;
  }
}

.Item {
  width: 90%;
  height: 6rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #f0d3d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  @include respond-to('small') {
    height: 5rem;
  }
}
.Item:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.NameContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  color: #505050;
  & h1 {
    font-size: 1rem;
    font-weight: 300;
  }
  & h2 {
    font-size: 1.6rem;
  }
}
.Avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  @include respond-to('small') {
    height: 3rem;
    width: 3rem;
  }
}
.Completed {
  background: var(--secondary-light);
}
.FinishedCheckbox {
  display: none;
}
.CheckIcon {
  font-size: 2.5rem;
  color: white;
}


