@import "./_mixins.scss";
@import "./_library.scss";

.CustomerCard {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  background: var(--primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.125s;
  & h2 {
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    @include respond-to('small') {
      font-size: 1.4rem;
      
    }
  }
}
.CustomerCard:hover {
  transform: translateY(-0.25rem);
  transition: 0.2s;
  box-shadow: $box-shadow;
}
.TitleContainer {
  background: black;
  color: var(--primary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;
}
.Completed {
  background: var(--secondary);
  color: var(--primary);
}
.CustomerTitle {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 3.5rem;
  border-radius: 1rem;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  @include respond-to('small') {
    font-size: 2rem;
  }
}

.ButtonContainer {
  margin-left: 2rem;
  @include respond-to('small') {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
.Span {
  display: flex;
  align-items: center;
}
.CheckIcon {
  font-size: 4rem;
  margin-right: 4rem;
  @include respond-to('small') {
    font-size: 2rem;
    margin-right: 2rem;
  }
}
