@import "./_mixins.scss";
@import "./_library.scss";

/* Errors */
.ErrorContainer {
  width: auto;
  height: 2.5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid red;
  border-radius: $border-radius;
}
.Error {
  font-size: 1rem;
  color: red;
}