@import "./_mixins.scss";
@import "./_library.scss";

.ModalContainer {
  position: fixed;
  z-index: 500;
  width: auto;
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Modal {
  background: var(--primary);
  height: 75%;
  max-height: 90%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
}
.ModalTitle {
  text-align: left;
  font-size: 3rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 0;
  background: var(--secondary);
  color: var(--primary);
  width: 100%;
  @include respond-to('small') {
    font-size: 2rem;
    padding-top: 2rem;
  }
}
.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.ModalImage {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 15rem;
  margin-bottom: 1rem;
}
.ModalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* Inputs */
.Group {
  position: relative;
  margin-bottom: 2rem;
}
.Input {
  font-size: 2rem;
  padding: 2rem 1rem 1rem 1.25rem;
  display: block;
  width: 100%;
  border: none;
  background: var(--primary);
  border: 2px solid var(--input-border);
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  @include respond-to('small') {
    padding: 1rem;
    font-size: 1rem;

  }
  &:focus {
    outline: none;
  }
}

/* Label */
.Label {
  color: var(--input-text);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: $transition-time;
  @include respond-to('small') {
    font-size: 1rem;
    top: 1.5rem;
  }
}
.BeerLabel {
  position: relative;
  top: 0.7rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  color: var(--secondary);
  background: var(--primary);
}
.Select {
  overflow-y: scroll;
  display: block;
  color: black;
  background: var(--primary);
  font-size: 2rem;
  height: 5.5rem;
  position: relative;
  width: 100%;
  border: none;
  border: 2px solid var(--input-border);
  padding-left: 1.25rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  @include respond-to('small') {
    height: 3.5rem;
    // padding-bottom: 0.5rem;
    font-size: 1rem;
  }
}
option {
  margin-left: 2rem;
}
.Input:focus,
.Select:focus {
  border: 2px solid var(--secondary);
  transition: calc(3 * #{$transition-time});
}
.Input:focus ~ .Label,
.Input:valid ~ .Label,
.Select:focus ~ .Label,
.Select:valid ~ .Label {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: var(--primary);
  @include respond-to('small') {
    font-size: 1rem;
    padding-left: 0.25rem;
  }
}

// Buttons
.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.EditButton,
.CancelButton {
  width: 49%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: $transition-time;
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  @include respond-to('small') {
    font-size: 1rem;
  }
}
.EditButton {
  background: var(--secondary);
  color: white;
}
.CancelButton {
  background: #f0f0f0;
}
.EditButton:hover,
.CancelButton:hover {
  box-shadow: $box-shadow;
  transition: $transition-time;
  @include respond-to('small') {
    box-shadow: none;
  }
}
