@import "./_mixins.scss";
@import "./_library.scss";

.Navbar {
  position: fixed;
  background: black;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  top: 0;
  width: 100%;
  box-shadow: $box-shadow;
  z-index: 100;
}

.Navbar h1 {
  color: var(--primary);
  width: 200px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 1rem 0 2rem;
  span {
    font-size: 2rem;
  }
}
.List {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem 0 2rem;
}
.Link {
  color: var(--primary);
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  font-size: 1.6rem;
  transition: $transition-time;
}
.Link:hover {
  color: var(--secondary);
  transition: $transition-time;
}
.NewButton {
  padding: 1rem;
  margin-right: 2rem;
  background: none;
  color: var(--primary);
  border: none;
  font-size: 1.6rem;
  transition: $transition-time;
  cursor: pointer;
}
.NewButton:hover {
  color: var(--secondary);
  transition: $transition-time;
}
.NewButton:focus {
  outline: none;
}
.Logout {
  padding: 1rem;
  background: var(--primary);
  color: black;
  border: var(--primary);
  border-radius: 10rem;
  font-size: 1.5rem;
  transition: $transition-time;
  cursor: pointer;
}
.Logout:hover {
  background: #b72e3e;
  color: var(--primary);
}
.HamburgerContainer {
  display: none;
}

/* Collapsible menu */
@media (max-width: 850px) {
  .Link,
  .List,
  .NewButton,
  .Logout {
    display: none;
    width: 0;
  }
  .HamburgerContainer {
    display: flex;
    padding: 0.5rem;
    position: relative;
    z-index: 110;

  }
  .HamburgerList {
    position: absolute;
    height: auto;
    width: 96%;
    margin-top: 5.5rem;
    left: 2%;
    border-radius: 1rem;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box-shadow;
  }
  .HamburgerItem,
  .Logout {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
  }
  .HamburgerItem:hover,
  .Logout:hover {
    background: whitesmoke;
    border-radius: 1rem;
    cursor: pointer;
  }
  .LinkDiv {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 2rem;
    padding: 1.5rem;
    color: var(--secondary);
    h2 {
      margin: 0;
      font-size: 2rem;
      color: var(--secondary);
      font-weight: 300;
    }
    div {
      width: 2rem;
      margin-right: 2rem;
      height: 2rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
