@import "./_mixins.scss";
@import "./_library.scss";

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem 2rem 5rem 2rem;
  box-shadow: $box-shadow;
  outline: none;
}
.SearchTitle {
  padding-left: 3rem;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
  font-size: 5rem;
  background: black;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  @include respond-to('small') {
    font-size: 3rem;
  }
}

// Inputs
.Group {
  margin: 4rem;
  margin-left: 3rem;
  position: relative;
}
.Input {
  font-size: 1.6rem;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  display: block;
  width: 100%;
  max-width: 500px;
  border: none;
  background: white;
  border-bottom: 1px solid var(--input-color);
  border: 1px solid var(--input-border);
  -webkit-appearance: none;
  -webkit-border-radius: 0.5rem;
  outline-style: none;
  &:focus {
    outline: none;
    border: 1px solid var(--secondary);
    transition: $transition-time;
  }
  &:valid {
    border: 1px solid var(--secondary);
  }
  @include respond-to('small') {
    padding-top: 1rem;
    font-size: 2rem;
  }
}
.Label {
  color: var(--input-color);
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  position: absolute;
  pointer-events: none;
  top: 2rem;
  transition: $transition-time;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  @include respond-to('small') {
    font-size: 1.2rem;
  }
}

.Input:focus ~ .Label,
.Input:valid ~ .Label  {
  top: -0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary);
  background: white;
  @include respond-to('small') {
    font-size: 0.8rem;

  }
}
.AddIcon {
  font-size: 1.25rem;
  margin-right: 4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  background: var(--secondary);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include respond-to('small') {
    position: fixed;
    left: 79%;
    bottom: 10%;
    height: 6rem;
    width: 6rem;
    box-shadow: $box-shadow;
    z-index: 80;
  }
}
.AddIcon:hover {
  background: var(--secondary-light);
}
.CustomerContainer {
  margin-top: 0;
  margin-right: 4rem;
  margin-bottom: 4rem;
  margin-left: 3rem;
  & h3 {
    font-size: 2rem;
    color: var(--secondary);
    @include respond-to('small') {
      font-size: 1.2rem;
    }
  }
  & h4 {
    text-align: center;
  }
}
