.NavIcon {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
}


.NavIcon div {
  width: auto;
  margin-right: 1rem;
}