.NavIcon {
  padding: 1rem 0 1rem 2rem;
  display: flex;
  font-size: inherit;
}

.NavIcon div {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  font-size: inherit;
  width: 20px;
  justify-content: center;
}

.NavIcon p {
  font-size: inherit;  
}


@media (min-width: 768px) {
  .NavIcon {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
  }
  
  
  .NavIcon div {
    width: auto;
    margin-right: 0.5rem;
  }

  .NavIcon svg {
    font-size: 1rem;
  }

}
